h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
h4 {
  font-family: $heading-font;
}

.h2 {
  font-size: 48px;
  font-weight: 500;

  @media (max-width: 992px) {
    font-size: 24px;
  }
}

.text {
  font-family: $text-font;
  font-size: 18px;
}

.btn {
  &-container {
    text-align: center;
  }

  padding: 14px 30px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  display: inline-block;
  &-red {
    &-fill {
      background-color: $red-color;
      color: white;
      &:hover {
        background-color: darken($red-color, 10%);
      }
    }
  }
}
