.product {
  &-sect {
    margin: 110px 0 130px;
  }
  &-item {
    background: rgba(233, 233, 233, 0.3);
    border-radius: 12px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 50%;
    padding: 40px;
    &-headline {
        font-size: 24px;
        font-weight: 500;
        margin: 18px auto;
        max-width: 260px;
    }
    &-img {
      height: 320px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 60px;
      img {
        max-height: 100%;
      }
    }
    &-link {
      color: black;
      font-size: 18px;

      &:after {
        content: "";
        background-image: url(../img/icons/arrow.svg);
        background-position: center;
        background-size: contain;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-left: 14px;
      }
    }
  }
  &-row {
    display: flex;
    gap: 16px;
  }
}

.app {
    &-row {
        display: flex;
        align-items: center;
        border: 1px solid #D9D9D9;
        border-radius: 12px;
        margin-top: 16px;
    }
    &-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 50%;

        .text {
            margin: 18px 0;
        }
    }
    &-link {
        text-decoration: none;
        &-row {
            display: flex;
            gap: 16px;
            margin-top: 20px;
        }
    }
}
